# ========================
# NODE (Tailwind / build)
# ========================
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# ========================
# ENV (rahasia)
# ========================
.env

# ========================
# PHP (kalau pakai composer)
# ========================
vendor/

# ========================
# OS FILE
# ========================
.DS_Store
Thumbs.db

# ========================
# EDITOR
# ========================
.vscode/
.idea/

# ========================
# BUILD FILE (Tailwind)
# ========================
dist/
build/

# ========================
# LOG
# ========================
*.log